@import 'reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 100%;
}

.switch {
  background-color: #ed0b70;
  position: fixed;
  top: 21px;
  right: 30px;
  border-radius: 2px;
  filter: drop-shadow(0px 3px 6px #00000045);
  z-index: 1000;
}

#light body {
  background-color: #16123f;
}
#light {
  background-color: #ffe26a;
  color: #16123f;
}
a {
  all: unset;
  cursor: pointer;
}
p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
}
h1,
h2 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 70px;
  margin-top: -10px;
  color: #ffe26a;
  margin-bottom: 10px;
}

#light h1 {
  color: #ed0b70;
}
h2 {
  line-height: 1;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 15px;
  max-width: 40rem;
}

.ingress {
  font-size: 12px;
  margin:0px;
  color:rgba(255, 240, 178, 1);
}

.logo {
  font-size: 30px;
  margin-left: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #ffe26a;

  border-color: #482673;
}

#light .logo {
  color: #ed0b70;
  border-color: #fcfcfc;
}

.logo:hover {
  border-color: #ffe26a;
  color: #ed0b70;
  transition: all 0.2s;
  font-size: 30px;
}

aside {
  background-color: #111111;
  position: fixed;
  bottom: 0%;
  left: 40px;
  padding: 10px 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  filter: drop-shadow(0px 3px 6px #00000045);
}

#light aside {
  background-color: #ffe26a;
}
aside ul {
  list-style-type: none;
  overflow: visible;
}
aside ul li {
  padding: 15px 0px;
}

.fa-solid {
  color: #FCFCFC;
}
#light .fa-brands {
  color: #ed0b70;
}

#light .fa-solid {
  color: #ed0b70;
}
.fa-brands {
  color: #FCFCFC;
}

.fa-solid:hover {
  transition: all 0.2s;
  color: #ed0b70;
  transform: rotate3d(1, 1, 1, 45deg);
}
.fa-brands:hover {
  transition: all 0.2s;
  color: #ed0b70;
  transform: rotate3d(1, 1, 1, 45deg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  height: 12vh;
  padding-left: 0px;
  background-color: #111111;
  transition: transform 150ms ease-in-out;
  z-index: 100;
}

#light header {
  background-color: #ffe26a;
}

header.header-bar--hidden {
  transform: translateY(-100%);
}

#light nav ul li {
  color: #16123f;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  color: #ffe26a;

  margin-right: 150px;
  ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  li {
    padding-left: 40px;
  }
  :hover {
    color: #ed0b70;
    transition: all 0.2s;
  }
}

#light nav ul li:hover {
  color: #ed0b70;
  transition: all 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #F6F6F6;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 15px;
  height: 80px;
}
.footer1 {
  margin-right: 60px;
}

.footer2 {
  padding-top: 15px;
  margin-left: 120px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cv {
  background: rgb(237, 11, 112);
  background: linear-gradient(
    180deg,
    rgba(237, 11, 112, 0.33) 0%,
    rgba(72, 38, 115, 0.57) 100%
  );
  border-radius: 50px;
  padding: 15px 30px;
  color: white;
  font-weight: 400;
  filter: drop-shadow(0px 0px 6px #00000045);
}

#light .cv {
  background: rgb(252, 252, 252);
  color: #16123f;
  padding-bottom: 13px;
  filter: drop-shadow(0px 0px 6px #00000015);

  background: linear-gradient(
    176deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(255, 240, 178, 1) 100%
  );
}

.cv:hover {
  transition: all 0.2s;
  color: #ed0b70;
  filter: drop-shadow(0px 0px 0px #00000045);
}

#light .cv:hover {
  transition: all 0.2s;
  color: #ed0b70;
}

button {
  background: #F6F6F6;
 
  border-radius: 2px;
  padding: 7px 7px;
  color: #111111;
  font-weight: 400;
  border: none;
  font-size: 0.8rem;
  width: 98px;
  margin-top: 20px;
  filter: drop-shadow(0px 0px 6px #00000045);
  cursor: pointer;
}

#light button {
  background: rgb(252, 252, 252);
  color: #16123f;
  padding-bottom: 13px;
  background: linear-gradient(
    176deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(255, 240, 178, 1) 100%
  );
  filter: drop-shadow(0px 0px 6px #00000015);
}

#light button:hover {
  color: #ed0b70;
}
button:hover {
  transition: all 0.2s;
  color: #ed0b70;
  scale: 1.04;
  filter: drop-shadow(0px 0px 0px #00000045);
}

/* GRID TEMPLATE ROW HOME*/

.gridHome {
  display: grid;
  grid-template-columns: 50vw 49vw;
  grid-template-rows: 44vh 44vh;
}
/* HER KOMMER FOR UTVALGT PORTEFØLJE SIDEN, EGEN CSS */

.portfolios {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
.portfolios article {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.portfolios article h2 {
  font-size: 2.3rem;
  margin: 5px 0px;
}

.portfolios article p {
  font-size: 0.7rem;
  max-width: 16rem;
}
.portfolios article:nth-child(even) {
  flex-direction: row-reverse;
}

.informasjon {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #1A1A1A;
  padding: 2vw 2vh;
  padding-left: 8%;


 
  
}

.bilde {
  width: 50%;
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
.portfolios article:nth-child(even) .bilde {
  background-color: yellow;
}

.portfolios article ul {
  background-color: #2d2d2d;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
  color: #ffe26a;
  font-size: 10px;
  max-width: 12rem;
  border-radius: 2px;
}

#light article ul {
  background-color: #fff1b7;
  color: #120e37;
}

#light .circle {
  background-color: #ed0b70;
  margin-bottom: 3px;
}
.lineUp {
  display: flex;
  align-items: center;
}
.portfolios article ul li {
  display: inline;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* HER KOMMER FOR PORTEFØLJE SIDE 2, EGEN CSS */

.portfoliosMain {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  width: 100%;
  margin-bottom: 100px;
}
.portfoliosMain article {
  display: flex;
  flex-direction: row;
}
.portfoliosMain article:nth-child(even) {
  flex-direction: row-reverse;
}

.informasjonMain {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
  margin-left: 10%;
  padding-right: 10%;
}

.bildeMain {
  width: 40%;
  background-image: url('img/code.jpeg');
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  filter: drop-shadow(0px 0px 6px #00000045);
}
.portfoliosMain article:nth-child(even) .bildeMain {
  background-color: yellow;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.portfoliosMain article ul {
  background-color: #120e37;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: #ed0b70;
}

#light article ul {
  background-color: #fff1b7;
  color: #120e37;
}
.circle {
  background-color: white;
  height: 3px;
  width: 3px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
}

#light .circle {
  background-color: #ed0b70;
  margin-bottom: 3px;
}
.lineUp {
  display: flex;
  align-items: center;
}
.portfolios article ul li {
  display: inline;
}

.www,
.github {
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: 20px;
}

#light .www {
  padding-top: 12px;
}
#light .github {
  padding-top: 12px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

/* HER KOMMER KONTAKT SIDEN - EGEN CSS */

main .kontakt {
  height: 100vh;
  padding-top: 0px;
  max-width: 900px;
}
form {
  display: flex;
  flex-direction: column;
  font-family: 'Epilogue', sans-serif;
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.input1 {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.submit {
  align-self: flex-end;
}

.input2 {
  display: flex;
  flex-direction: column;
  width: 48%;
}
input:hover {
  background-color: #ffe26a;
  transition: all 0.2s;
}

#light input:hover {
  background-color: #fff1b7;
  transition: all 0.2s;
}
input:focus {
  outline: 2px solid #ed0b70;
}
textarea:focus {
  outline: 2px solid #ed0b70;
}
textarea:hover {
  background-color: #ffe26a;
  transition: all 0.2s;
}
#light textarea:hover {
  background-color: #fff1b7;
  transition: all 0.2s;
}

label {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  width: 80px;
  margin-left: 10px;
  margin-bottom: -14px;
  z-index: 1;
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px -10px 6px #00000013);
}

#light label {
  color: #16123f;
}

.navn {
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 20px;
}
.epost {
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 20px;
}
.melding {
  font-family: 'Epilogue', sans-serif;
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

span.under4 {
  position: relative;
  z-index: 1;
}
.under4::before {
  content: '';
  height: 7px;

  background: #ed0b70;
  position: absolute;
  z-index: -1;
  top: 67%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 110%;
  margin-left: -4px;
}
#light .under4::before {
  content: '';
  height: 7px;

  background: #fff1b7;
  position: absolute;
  z-index: -1;
  top: 67%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 110%;
  margin-left: -4px;
}

/* HER KOMMER CSS FOR CASE STUDY SIDEN */
.bildecs {
  width: 100%;

  background-color: #cccccc; /* Used if the image is unavailable */
  height: 900px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 200px;
}

.casestudy {
  margin-top: 150px;
  margin-left: 20%;
}

.casestudy2 {
  margin-top: 100px;
  margin-right: 30%;
  margin-bottom: 200px;
}

.ingress2 {
  font-weight: 600;
}

.tilbake {
  display: flex;
  flex-direction: row;
}
.tilbake p {
  font-size: 14px;
  margin-bottom: 150px;
  color: #ffe26a;
}

#light .tilbake p {
  color: #16123f;
}
#light .tilbake p:hover {
  color: #ed0b70;
}

.tilbake p:hover {
  color: #ed0b70;
  transition: all 0.2s;
}

.fa-arrow-left-long {
  margin-right: 10px;
}

/* Loading CSS*/

.loading {
  background-color: white;
  width: 800px;
  height: 800px;
  display: flex;
}

/*SCROLL BAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F6F6F6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1150px) {
  .navigasjon {
    display: none;
  }
      
      .informasjon {
  
        padding: 2vw 2vh;
        
  
      }

      .portfolios article h2 {
        font-size: 2rem;
        margin: 5px 0px;
      }
  
}
@media only screen and (max-width: 920px) { 
  .gridHome {
    min-width: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  main {
 
    align-content: stretch;

  }
  .home {
    width: 100%;
  }
  .informasjon {
  
    padding-left: 5%;
    

  }
  
}
