@import 'reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #16123f;
  color: white;
  width: 100%;
  height: 100%;
}

.switch {
  background-color: #ed0b70;
  position: fixed;
  bottom: 0px;
  right: 80px;
  margin: 40px;
  border-radius: 80px;
  filter: drop-shadow(0px 3px 6px #00000045);
  z-index: 20;

}

#light body {
  background-color: #16123f;

}
#light {
  background-color: #FFE26A;
  color: #16123F;

}
a {
  all: unset;
  cursor: pointer;
}
p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
}
h1,
h2 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 70px;
  margin-top: -10px;
  color: #ffe26a;
  margin-bottom: 10px;
}

#light h1 {
  color: #ed0b70;
}
h2 {
  line-height: 1;

  font-weight: 400;
  font-size: 70px;
  margin-bottom: 15px;
}

.ingress {
  font-size: 20px;
}

.logo {
  font-size: 30px;
  margin-left: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #ffe26a;
  border: 1px solid black;
  border-radius: 100%;
  padding: 20px;
  border-color: #482673;
}

#light .logo {
  color: #ed0b70;
  border-color: #FCFCFC;
}

.logo:hover {
  border-color: #ffe26a;
  color: #ed0b70;
  transition: all 0.2s;
  font-size: 30px;
}

aside {
  background-color: #16123f;
  position: fixed;
  bottom: 40%;
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: drop-shadow(0px 3px 6px #00000045);
}

#light aside {
  background-color: #ffe26a;;

}
aside ul {
  list-style-type: none;
  overflow: visible;

}
aside ul li {
  padding: 15px 0px;
}

.fa-solid {
  color: #ffe26a;
}
#light .fa-brands {
  color: #ed0b70;
}

#light .fa-solid {
  color: #ed0b70;
}
.fa-brands {
  color: #ffe26a;
}


.fa-solid:hover {
  transition: all 0.2s;
  color: #ed0b70;
  transform: rotate3d(1, 1, 1, 45deg);
}
.fa-brands:hover {
  transition: all 0.2s;
  color: #ed0b70;
  transform: rotate3d(1, 1, 1, 45deg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  height: 15vh;
  padding-left: 0px;
  background-color: #16123f;
  transition: transform 150ms ease-in-out;

  z-index: 100;
}

#light header {
  background-color: #FFE26A;

}

header.header-bar--hidden {
  transform: translateY(-100%);
}

#light nav ul li {
  color: #16123f;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  color: #ffe26a;
  padding: 20px;
  margin-right: 60px;
   ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
   } li {
    padding-right: 40px;
   }:hover {
    color: #ed0b70;
    transition: all 0.2s;
  }
}

#light nav ul li:hover {
  color: #ed0b70;
  transition: all 0.2s;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 100%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ed0b713b;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 15px;
  height: 80px;
}
.footer1 {
  margin-right: 60px;
}

.footer2 {
  padding-top: 15px;
  margin-left: 60px;
}

.home {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  height: 85vh;

}

.cv {
  background: rgb(237, 11, 112);
  background: linear-gradient(
    180deg,
    rgba(237, 11, 112, 0.33) 0%,
    rgba(72, 38, 115, 0.57) 100%
  );
  border-radius: 50px;
  padding: 15px 30px;
  color: white;
  font-weight: 400;
  filter: drop-shadow(0px 0px 6px #00000045);
}

#light .cv {
  background: rgb(252,252,252);
  color: #16123F;
  padding-bottom: 13px;
  filter: drop-shadow(0px 0px 6px #00000015);

background: linear-gradient(176deg, rgba(252,252,252,1) 0%, rgba(255,240,178,1) 100%);
}

.cv:hover {
  transition: all 0.2s;
  color: #ed0b70;
  filter: drop-shadow(0px 0px 0px #00000045);
}

#light .cv:hover {
  transition: all 0.2s;
  color: #ed0b70;

}

button {
  background: rgb(237, 11, 112);
  background: linear-gradient(
    180deg,
    rgba(237, 11, 112, 0.33) 0%,
    rgba(72, 38, 115, 0.57) 100%
  );
  border-radius: 50px;
  padding: 15px 30px;
  color: white;
  font-weight: 400;
  border: none;
  font-size: 20px;
  width: 215px;
  margin-top: 20px;
  filter: drop-shadow(0px 0px 6px #00000045);
  cursor: pointer;
}

#light button {
  background: rgb(252,252,252);
  color: #16123F;
  padding-bottom: 13px;
background: linear-gradient(176deg, rgba(252,252,252,1) 0%, rgba(255,240,178,1) 100%);
filter: drop-shadow(0px 0px 6px #00000015);

}

#light button:hover {
  color: #ed0b70;
}
button:hover {
  transition: all 0.2s;
  color: #ed0b70;
  filter: drop-shadow(0px 0px 0px #00000045);
}

span.under1 {
  position: relative;
  z-index: 1;
}
.under1::before {
  content: '';
  height: 9px;
  background: #ed0b70;
  position: absolute;
  z-index: -1;
  top: 78%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 96%;
}

#light .under1::before {
  content: '';
  height: 9px;
  background: #fcfcfc;
  position: absolute;
  z-index: -1;
  top: 78%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 96%;
}
span.under3 {
  position: relative;
  z-index: 1;
  font-weight: 600;
}
.under3::before {
  content: '';
  height: 6px;

  background: #482673;
  position: absolute;
  z-index: -1;
  top: 65%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 100%;
}

#light .under3::before {
  content: '';
  height: 6px;

  background: #FFF1B7;
  position: absolute;
  z-index: -1;
  top: 65%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 100%;
}

span.under2 {
  position: relative;
  z-index: 1;
}

.under2::before {
  content: '';
  height: 9px;
  background: #482673;
  position: absolute;
  z-index: -1;
  top: 78%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 96%;
}

#light .under2::before {
  content: '';
  height: 9px;
  background: #FFF1B7;
  position: absolute;
  z-index: -1;
  top: 78%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 96%;
}

/* HER KOMMER FOR PORTEFØLJE SIDEN, EGEN CSS */

.portfolios {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  width: 100%;

  margin-bottom: 100px;
}
.portfolios article {
  display: flex;
  flex-direction: row;
  row-gap: 70px;
}
.informasjon {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 40%;
  margin-left: 20%;
  padding-right: 5%;
}
.bilde {
  width: 40%;
  background-image: url('img/code.jpeg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.bilde2 {
  width: 40%;
  background-image: url('img/code.jpeg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.informasjon2 {
  width: 40%;
  margin-right: 20%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.portfolios article ul {
  background-color: #120e37;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: #ed0b70;
}

#light article ul {
  background-color: #FFF1B7;
  color:#120e37;
}
.circle {
  background-color: white;
  height: 3px;
  width: 3px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
}

#light .circle {
  background-color: #ed0b70;
  margin-bottom: 3px;
}
.lineUp {
  display: flex;
  align-items: center;

}
.portfolios article ul li {
  display: inline;
}

.www,
.github {
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: 20px;

}

#light .www {

  padding-top: 12px;
}#light .github {
  padding-top: 12px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

/* HER KOMMER KONTAKT SIDEN - EGEN CSS */

main .kontakt {
  height: 100vh;
  padding-top: 0px;
  max-width: 900px;
}
form {
  display: flex;
  flex-direction: column;
  font-family: 'Epilogue', sans-serif;
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.input1 {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.submit {
  align-self: flex-end;
}

.input2 {
  display: flex;
  flex-direction: column;
  width: 48%;
}
input:hover {
  background-color: #ffe26a;
  transition: all 0.2s;
}

#light input:hover {
  background-color: #FFF1B7;
  transition: all 0.2s;
}
input:focus {
  outline: 2px solid #ed0b70;
}
textarea:focus {
  outline: 2px solid #ed0b70;
}
textarea:hover {
  background-color: #ffe26a;
  transition: all 0.2s;
}
#light textarea:hover {
  background-color: #FFF1B7;
  transition: all 0.2s;
}

label {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  width: 80px;
  margin-left: 10px;
  margin-bottom: -14px;
  z-index: 1;
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px -10px 6px #00000013);
}

#light label {
  color: #16123F;
}

.navn {
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 20px;
}
.epost {
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 20px;
}
.melding {
  font-family: 'Epilogue', sans-serif;
  padding: 10px;
  border: 1px solid #fffae5;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

span.under4 {
  position: relative;
  z-index: 1;
}
.under4::before {
  content: '';
  height: 7px;

  background: #ed0b70;
  position: absolute;
  z-index: -1;
  top: 67%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 110%;
  margin-left: -4px;
}
#light .under4::before {
  content: '';
  height: 7px;

  background: #FFF1B7;
  position: absolute;
  z-index: -1;
  top: 67%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 45px;
  width: 110%;
  margin-left: -4px;
}

/* HER KOMMER CSS FOR CASE STUDY SIDEN */
.bildecs {
  width: 100%;
  
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 900px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 200px;
}

.casestudy {
  margin-top: 150px;
  margin-left: 20%;
}

.casestudy2 {
  margin-top: 100px;
  margin-right: 30%;
  margin-bottom: 200px;
}

.ingress2 {
  font-weight: 600;
}

.tilbake {
  display: flex;
  flex-direction: row;
}
.tilbake p {
  font-size: 14px;
  margin-bottom: 150px;
  color: #ffe26a;
}

#light .tilbake p {
  color: #16123f;
}
#light .tilbake p:hover {
  color: #ed0b70;
}



.tilbake p:hover {
  color: #ed0b70;
  transition: all 0.2s;
}

.fa-arrow-left-long {
  margin-right: 10px;
}

/* Loading CSS*/

.loading {
  background-color: white;
  width: 800px;
  height: 800px;
  display: flex;
}

@media only screen and (max-width: 1150px) {
  .navigasjon {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 50px;
  }
  main article {
    padding: 20px;
  }
  header {
    padding-left: 10px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .ingress {
    font-size: 14px;
  }

  p {
    font-size: 16px;
    line-height: 1.2;
  }
  nav {
    margin-right: 10px;
  }
  aside {
    background-color: #16123f;
    position: fixed;
    top: 0;
    left: 20%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: row;
  }
  aside ul {
    display: inline;
  }
  aside ul li {
    display: inline;
    padding: 10px;
  }
  .cv {
    font-size: 15px;
  }

  button {
    font-size: 15px;
    width: 150px;
    padding: 12px 15px;
  }
}
